<loader-animation *ngIf="!isDataAvailable"></loader-animation>
<div *ngIf="isDataAvailable">
  <div class="row">
    <div class="col-md-12">
      <label class="btn btn-default btn-file">
        Dosya Seç <input #uploadEl type="file" ng2FileSelect [uploader]="uploader" multiple style="display: none;"  />
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>Dosya Seçin</h3>
      <div ng2FileDrop
           [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
           (fileOver)="fileOverBase($event)"
           [uploader]="uploader"
           class="well my-drop-zone">
          Bu alana dosya sürükleyip bırakabilirsiniz.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>Yükleme Sırası</h3>
      <table class="table" style="font-size:14px;">
        <thead>
          <tr>
            <th width="50%">Dosya Adı</th>
            <th width="15%">Yüklenme Durumu</th>
            <th class="text-center" width="5%">Statü</th>
            <th class="text-right" width="30%">İşlemler</th>
          </tr>
        </thead>
        <tbody *ngIf="uploader.queue.length > 0">
          <tr *ngFor="let item of uploader.queue">
            <td><strong>{{item.name}}</strong></td>
            <td *ngIf="uploader.isHTML5">
              <div class="progress" style="margin-bottom: 0;">
                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
              </div>
            </td>
            <td class="text-center">
              <span *ngIf="!item.isSuccess && !item.isCancel && !item.isError"><i class="glyphicon glyphicon-minus"></i></span>
              <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
              <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
              <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
            </td>
            <td class="text-right">
              <button type="button" class="btn btn-success btn-xs" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                <span class="glyphicon glyphicon-upload"></span> Upload
              </button>
              <button type="button" class="btn btn-warning btn-xs" (click)="item.cancel()" [disabled]="!item.isUploading">
                <span class="glyphicon glyphicon-ban-circle"></span> Cancel
              </button>
              <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
                <span class="glyphicon glyphicon-trash"></span> Remove
              </button>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="uploader.queue.length == 0">
          <tr>
            <td colspan="4" style="text-align: center;">Yüklemek için dosya seçin.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Yüklenme Durumu ve İşlemler</h3>
      <div class="progress" style="">
          <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
      </div>

      <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
        <span class="glyphicon glyphicon-upload"></span> Hepsini Yükle
      </button>
      <button type="button" class="btn btn-warning btn-s" (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
        <span class="glyphicon glyphicon-ban-circle"></span> Hepsini İptal Et
      </button>
      <button type="button" class="btn btn-danger btn-s" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
        <span class="glyphicon glyphicon-trash"></span> Listeyi Temizle
      </button>
    </div>
  </div>
</div>
<simple-notifications [options]="notificationOptions"></simple-notifications>
