<loader-animation *ngIf="!isDataAvailable"></loader-animation>
<div *ngIf="isDataAvailable">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <div class="btn-toolbar pull-right">
          <a href class="btn btn-warning" [routerLink]="['/management','role']"><b>Geri</b></a>
          <button class="btn btn-success" form="editRoleForm" [disabled]="!editRoleForm.valid || isSaving"><b>Kaydet</b></button>
        </div>
        <h1>Yetki Yönetimi
          <small>Yetki bilgilerini güncelleyin</small>
        </h1>
      </div>
    </div>
  </div>

  <form role="form" id="editRoleForm" [formGroup]="editRoleForm" (submit)="save()">
    <div class="row">
      <div class="col-md-6">
        <fieldset>
          <legend>Yetki Bilgileri</legend>
          <div class="form-group">
            <label for="name">Yetki Adı</label>
            <input type="text" class="form-control" id="name" formControlName="name" placeholder="Yetki Adı">
            <control-messages [control]="editRoleForm.controls.name"></control-messages>
          </div>
        </fieldset>
      </div>
      <div class="col-md-6">
        <fieldset>
          <legend>Yetki Detayları</legend>
          <ul class="list-unstyled">
            <li class="col-md-3" *ngFor="let privilege of privilegeList;">
              <div class="checkbox">
                <label>
                  <input type="checkbox" [formControl]="editRoleForm.controls['privileges']['controls'][privilege.id]"  (change)="updateCheckedOptions(privilege, $event)" [checked]="privilege.isChecked" value="{{privilege.id}}">
                  {{privilege.name}}
                </label>
              </div>
            </li>
          </ul>
          <control-messages [control]="editRoleForm.controls['privileges']"></control-messages>
        </fieldset>
      </div>
    </div>
  </form>
  <simple-notifications [options]="notificationOptions"></simple-notifications>
</div>
