<div class="row">
  <div class="col-md-9">
    <ol class="breadcrumb">
      <li *ngFor="let bc of breadcrumb" [class.active]="currentNode.id == bc.id">
        <a *ngIf="currentNode.id != bc.id" [routerLink]="['/item', 'gallery', {id: bc.id}]">{{bc.name}}</a>
        <span *ngIf="currentNode.id == bc.id">{{bc.name}}</span>
      </li>
    </ol>
  </div>
  <div class="col-md-3" style="text-align:right">
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        İşlemler <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a style="cursor: pointer" (click)="openNodeModal('new', 'main', currentNode)">Yeni Klasör Ekle</a></li>
        <li role="separator" class="divider"></li>
        <li ><a style="cursor: pointer" (click)="openNodeModal('rename', 'main', currentNode)">Adını Değiştir</a></li>
        <li *ngIf="currentNode.parentNode != null"><a style="cursor: pointer" (click)="openNodeModal('move', 'main', currentNode)">Taşı</a></li>
        <li *ngIf="currentNode.parentNode != null"><a style="cursor: pointer" (click)="openNodeModal('delete', 'main', currentNode)">Sil</a></li>
      </ul>
    </div>
    <a class="btn btn-success" style="cursor: pointer" (click)="openItemModalClick()">
      <span *ngIf="type === 'gallery'">Yeni İçerik Ekle</span>
    </a>
  </div>
</div>

<node-gallery *ngIf="type === 'gallery'" [nodes]="nodes" [items]="items" (nodeTableAction)="nodeTableAction($event)"></node-gallery>
<simple-notifications [options]="notificationOptions"></simple-notifications>

<modal #nodeEditModal [backdrop]="modalDisableClose" (onClose)="onClose()" (onDismiss)="onClose()">
  <modal-header>
      <h4 class="modal-title" *ngIf="editingNode != null"><span>&laquo; {{editingNode.name}} &raquo;</span>  Klasör Adını Değiştir</h4>
  </modal-header>
    <modal-body>
      <form role="form" id="nodeEditForm" [formGroup]="nodeEditForm" (submit)="update()">
        <div class="form-group">
          <label for="name">Klasör Adı</label>
          <input type="text" class="form-control" id="name" formControlName="name" placeholder="Klasör Adı" autocomplete="off" autofocus>
          <control-messages [control]="nodeEditForm.controls.name"></control-messages>
        </div>
      </form>
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-default" data-dismiss="modal" [disabled]="isModalProccessing" (click)="nodeEditModal.dismiss()">İptal</button>
        <button class="btn btn-success" form="nodeEditForm" [disabled]="!nodeEditForm.valid || isModalProccessing">Değiştir</button>
    </modal-footer>
</modal>

<modal #nodeNewModal [backdrop]="modalDisableClose" (onClose)="onClose()" (onDismiss)="onClose()">
  <modal-header>
    <h4 class="modal-title">Yeni Klasör</h4>
  </modal-header>
  <modal-body>
    <form role="form" id="nodeNewForm" [formGroup]="nodeNewForm" (submit)="save()">
      <div class="form-group">
        <label for="name">Klasör Adı</label>
        <input type="text" class="form-control" id="name" formControlName="name" placeholder="Klasör Adı" autocomplete="off" autofocus>
        <control-messages [control]="nodeNewForm.controls.name"></control-messages>
      </div>
    </form>
  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-default" data-dismiss="modal" [disabled]="isModalProccessing" (click)="nodeNewModal.dismiss()">İptal</button>
    <button class="btn btn-success" form="nodeNewForm" [disabled]="!nodeNewForm.valid || isModalProccessing">Kaydet</button>
  </modal-footer>
</modal>

<modal #nodeDeleteModal [backdrop]="modalDisableClose" (onClose)="onClose()" (onDismiss)="onClose()">
  <modal-header>
    <h4 class="modal-title"><span *ngIf="editingNode != null">&laquo; {{editingNode.name}} &raquo;</span>  Klasörü Sil</h4>
  </modal-header>
  <modal-body>
    <div *ngIf="!isModalProccessing">Bu işlemi yapmak istediğinizden emin misiniz?</div>
    <div *ngIf="isModalProccessing">İşleminiz yapılıyor, lütfen bekleyiniz..</div>
  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-default" data-dismiss="modal" [disabled]="isModalProccessing" (click)="nodeDeleteModal.dismiss()">İptal</button>
    <button type="button" class="btn btn-danger" [disabled]="isModalProccessing" (click)="delete()">Devam Et</button>
  </modal-footer>
</modal>

<modal #nodeMoveModal [backdrop]="modalDisableClose" (onClose)="onClose()" (onDismiss)="onClose()">
  <modal-header>
    <h4 class="modal-title"><span *ngIf="editingNode != null">&laquo; {{editingNode.name}} &raquo;</span> Klasörü Taşı</h4>
  </modal-header>
  <modal-body>
    <div id="scroll-wrapper">
      <div class="scrollbar" id="style-1">
        <Tree [nodes]="nodeTree" [options]="nodeTreeOptions" (onActiveChanged)="onEvent($event, 'node')"></Tree>
      </div>
    </div>
  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-default" data-dismiss="modal" [disabled]="isModalProccessing" (click)="nodeMoveModal.dismiss()">İptal</button>
    <button type="button" class="btn btn-success" [disabled]="isModalProccessing || !moveSelectNode" (click)="move()">Taşı</button>
  </modal-footer>
</modal>

<modal #itemRenameModal [backdrop]="modalDisableClose" (onClose)="onClose()" (onDismiss)="onClose()">
  <modal-header>
      <h4 class="modal-title" *ngIf="editingItem != null"><span>&laquo; {{editingItem.name}} &raquo;</span>  Adını Değiştir</h4>
  </modal-header>
    <modal-body>
      <form role="form" id="itemRenameForm" [formGroup]="itemRenameForm" (submit)="itemRename()">
        <div class="form-group">
          <label for="name">Adı</label>
          <input type="text" class="form-control" id="name" formControlName="name" placeholder="Adı" autocomplete="off" autofocus>
          <control-messages [control]="itemRenameForm.controls.name"></control-messages>
        </div>
      </form>
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-default" data-dismiss="modal" [disabled]="isModalProccessing" (click)="itemRenameModal.dismiss()">İptal</button>
        <button class="btn btn-success" form="itemRenameForm" [disabled]="!itemRenameForm.valid || isModalProccessing">Değiştir</button>
    </modal-footer>
</modal>

<modal #itemMoveModal [backdrop]="modalDisableClose" (onClose)="onClose()" (onDismiss)="onClose()">
  <modal-header>
    <h4 class="modal-title"><span *ngIf="editingItem != null">&laquo; {{editingItem.name}} &raquo;</span> Taşı</h4>
  </modal-header>
  <modal-body>
    <div id="scroll-wrapper">
      <div class="scrollbar" id="style-1">
        <Tree [nodes]="nodeTree" [options]="nodeTreeOptions" (onActiveChanged)="onEvent($event, 'item')"></Tree>
      </div>
    </div>
  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-default" data-dismiss="modal" [disabled]="isModalProccessing" (click)="itemMoveModal.dismiss()">İptal</button>
    <button type="button" class="btn btn-success" [disabled]="isModalProccessing || !moveSelectNode" (click)="itemMove()">Taşı</button>
  </modal-footer>
</modal>

<modal #itemDeleteModal [backdrop]="modalDisableClose" (onClose)="onClose()" (onDismiss)="onClose()">
  <modal-header>
    <h4 class="modal-title"><span *ngIf="editingItem != null">&laquo; {{editingItem.name}} &raquo;</span>  Sil</h4>
  </modal-header>
  <modal-body>
    <div *ngIf="!isModalProccessing">Bu işlemi yapmak istediğinizden emin misiniz?</div>
    <div *ngIf="isModalProccessing">İşleminiz yapılıyor, lütfen bekleyiniz..</div>
  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-default" data-dismiss="modal" [disabled]="isModalProccessing" (click)="itemDeleteModal.dismiss()">İptal</button>
    <button type="button" class="btn btn-danger" [disabled]="isModalProccessing" (click)="itemDelete()">Devam Et</button>
  </modal-footer>
</modal>
