<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top" *ngIf="isLogged" (click)="$event.preventDefault()">
    <div class="container-fluid">
        <div class="navbar-header">
            <button (click)="isCollapsed = !isCollapsed" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" [routerLink]="['/home']">Thingsix Signage</a>
        </div>
        <div [collapse]="isCollapsed" id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li *ngIf="_sharedService.checkAuthority('USER_VIEW') ||
                _sharedService.checkAuthority('ROLE_VIEW') ||
                _sharedService.checkAuthority('GROUP_VIEW')" class="dropdown" dropdown (on-toggle)="toggled($event)">
                    <a href dropdownToggle class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Yönetim <span class="caret"></span></a>
                    <ul dropdownMenu class="dropdown-menu">
                        <li><a *ngIf="_sharedService.checkAuthority('USER_VIEW')" [routerLink]="['/management','user']">Kullanıcı</a></li>
                        <li><a *ngIf="_sharedService.checkAuthority('ROLE_VIEW')" [routerLink]="['/management','role']">Yetki</a></li>
                        <li><a *ngIf="_sharedService.checkAuthority('GROUP_VIEW')" [routerLink]="['/management','group']">Grup</a></li>
                    </ul>
                </li>
                <li *ngIf="_sharedService.checkAuthority('GALLERY_VIEW')"><a [routerLink]="['/item', 'gallery']">İçerikler</a></li>
                <li><a [routerLink]="['/designer']">Ekran Tasarımcısı</a></li>
                <li><a [routerLink]="['/home']">Oynatma Listeleri</a></li>
                <li><a [routerLink]="['/home']">Zaman Çizelgeleri</a></li>
                <li><a [routerLink]="['/home']">Cihazlar</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="_sharedService.checkAuthority('PROFILE_UPDATE')" [routerLinkActive]="['active']"><a [routerLink]="['/myprofile']">Bilgilerim</a></li>
                <li><a style="cursor: pointer;" (click)="logout()">Çıkış Yap</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>

<div class="container-fluid app-view-content">
    <router-outlet></router-outlet>
</div>

<footer class="footer" *ngIf="isLogged">
    <div class="container-fluid">
        <p class="text-muted">made with <span class="love">♥</span> in istanbul</p>
    </div>
</footer>
