<div class="row">
  <div class="col-md-12">
    <table class="table table-hover" style="font-size:14px;">
      <thead>
        <tr>
          <th style="width:80%">Grup Adı</th>
          <th tyle="width:20%">&nbsp;</th>
        </tr>
      </thead>
      <tbody *ngIf="isTableAvailable">
          <tr *ngFor="let group of groups;">
            <td>{{group.name}}</td>
            <td style="text-align: right;">
              <a *ngIf="_sharedService.checkAuthority('GROUP_DELETE')" class="btn btn-danger btn-xs" (click)="openGroupDeleteModal(group)" role="button">Sil</a>
              <a *ngIf="_sharedService.checkAuthority('GROUP_UPDATE')" class="btn btn-warning btn-xs" [routerLink]="['/group', 'edit', {id: group.id}]" role="button">Düzenle</a>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="!isTableAvailable">
          <tr>
            <td colspan="2" style="text-align: center;">Yükleniyor...</td>
          </tr>
        </tbody>
    </table>

    <pagination
      (pageChanged)="pageChanged($event)"
      [itemsPerPage]="itemsPerPage"
      [totalItems]="totalItems"
      [(ngModel)]="currentPage"
      [maxSize]="maxSize"
      class="pagination-sm"
      [previousText]="previousText"
      [nextText]="nextText"
      [firstText]="firstText"
      [lastText]="lastText"
      [disabled]="isPaginationDisabled"
      [boundaryLinks]="true">
    </pagination>
  </div>
</div>

<simple-notifications [options]="notificationOptions"></simple-notifications>

<modal #groupDeleteModal [backdrop]="modalDisableClose" (onClose)="onClose()" (onDismiss)="onClose()">
  <modal-header>
    <h4 class="modal-title">Grup Silme</h4>
  </modal-header>
  <modal-body>
    <div *ngIf="isTableAvailable && groups.length == 1">En azından bir gruba sahip olmanız gerekiyor. Dolayısıyla bu grubu silemezsiniz.</div>
    <div *ngIf="isTableAvailable && groups.length > 1 && !isDeleting">
      Grup ile birlikte silinecek olan veriler; <br/>
      <ul>
        <li>İçerikler</li>
        <li>Ekran Tasarımları</li>
        <li>Oynatma Listeleri</li>
        <li>Zaman Çizelgeleri</li>
        <li>Cihazlar</li>
      </ul>
      <b>Bu işlemi yapmak istediğinizden emin misiniz?</b>
    </div>
    <div *ngIf="isDeleting">İşleminiz yapılıyor, lütfen bekleyiniz..</div>
  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-default" data-dismiss="modal" [disabled]="isDeleting" (click)="groupDeleteModal.dismiss()">İptal</button>
    <button type="button" *ngIf="isTableAvailable && groups.length > 1" class="btn btn-danger" [disabled]="isDeleting" (click)="delete()">Devam Et</button>
  </modal-footer>
</modal>
