<loader-animation *ngIf="!isDataAvailable"></loader-animation>
<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <div class="btn-toolbar pull-right">
                <a href class="btn btn-warning" [routerLink]="['/designer']"><b>İptal</b></a>
                <button class="btn btn-success" [disabled]="layers.length === 0" (click)="_save()"><b>Kaydet</b></button>
            </div>
            <h1>Ekran Tasarımcısı
              <small>Ekran tasarımları hazırlayın.</small>
            </h1>
        </div>
    </div>
</div>
<div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <div class="pull-left"><label for="sel1">Ekran Çözünürlüğü</label></div>
                <div class="pull-right"><a style="cursor: pointer; font-size:11px;" (click)="resolutionDetailModal.open('lg')">nedir?</a></div>
                <div class="clearfix"></div>
                <select class="form-control" #t (change)="defaultResolutionSelector(t.value)">
                  <option value="1920x1080">1920 x 1080</option>
                </select>
            </div>
            <div class="form-group">
                <div class="pull-left"><label for="sel1">Ekran Sayısı</label></div>
                <div class="pull-right"><a style="cursor: pointer; font-size:11px;" (click)="screenDetailModal.open('lg')">nedir?</a></div>
                <div class="clearfix"></div>
                <select class="form-control" #s (change)="defaultScreenSelector(s.value)">
                  <option value="1x1">1 x 1 Ekran</option>
                  <option value="1x2">1 x 2 Ekran</option>
                  <option value="1x3">1 x 3 Ekran</option>
                  <option value="1x4">1 x 4 Ekran</option>
                  <option value="2x1">2 x 1 Ekran</option>
                  <option value="2x2">2 x 2 Ekran</option>
                  <option value="2x3">2 x 3 Ekran</option>
                  <option value="2x4">2 x 4 Ekran</option>
                  <option value="3x1">3 x 1 Ekran</option>
                  <option value="3x2">3 x 2 Ekran</option>
                  <option value="3x3">3 x 3 Ekran</option>
                  <option value="3x4">3 x 4 Ekran</option>
                  <option value="4x1">4 x 1 Ekran</option>
                  <option value="4x2">4 x 2 Ekran</option>
                  <option value="4x3">4 x 3 Ekran</option>
                  <option value="4x4">4 x 4 Ekran</option>
                </select>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="btn-group pull-right">
                        <button class="btn btn-xs btn-default" (click)="_newLayer()" [disabled]="limitReached">Yeni Katman</button>
                    </div>
                    <h3 class="panel-title">Katmanlar</h3>
                </div>
                <div class="panel-body sortable-area">
                    <span class="text-muted" *ngIf="layers.length === 0">Yeni katman ekleyin.</span>
                    <ul class="list-group sortable">
                        <li *ngFor="let layer of layers;" class="list-group-item" [attr.data-id]="layer.id">
                            <div class="pull-left">
                                <span class='glyphicon glyphicon-resize-vertical move'></span>
                            </div>
                            <div class="pull-left">
                                <p>{{layer.name}}</p>
                            </div>
                            <div class="pull-right">
                                <span class='glyphicon glyphicon-trash configure p-cursor' (click)="deleteLayerModalOpen(layer)">&nbsp;</span>
                                <span class='glyphicon glyphicon-cog configure p-cursor' (click)="updateLayerModalOpen(layer)">&nbsp;</span>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div id="designer-area" class="designer-area" (window:resize)="onResize($event)">
                <div *ngFor="let layer of layers;" class="layer designerAreaLayer" [attr.id]="layer.id" [attr.data-id]="layer.id" [style.z-index]="layer.zindex" [style.background]="layer.color">
                    <p>{{layer.name}}</p>
                </div>
            </div>
        </div>
    </div>

    <simple-notifications [options]="notificationOptions"></simple-notifications>
</div>

<modal #updateLayerModal [backdrop]="modalDisableClose" (onClose)="onClose()" (onDismiss)="onClose()">
    <modal-header>
        <h4 class="modal-title pull-left">Katman Detayları</h4>
        <span class="badge pull-right" style="font-weight:normal; margin-top:5px;">Varsayılan: {{defaultResolution}}</span>
    </modal-header>
    <modal-body>
        <form role="form" id="layerUpdateForm" [formGroup]="layerUpdateForm">
            <div class="form-group">
                <label for="name">Katman Adı</label>
                <input type="text" class="form-control" id="name" formControlName="name" placeholder="Katman Adı" autocomplete="off">
                <control-messages [control]="layerUpdateForm.controls.name"></control-messages>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                    <label for="width">Genişlik</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="width" formControlName="width" placeholder="0" autocomplete="off">
                        <div class="input-group-addon">px</div>
                    </div>
                    <control-messages [control]="layerUpdateForm.controls.width"></control-messages>
                </div>
                <div class="col-md-6 form-group">
                    <label for="width">Yükseklik</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="height" formControlName="height" placeholder="0" autocomplete="off">
                        <div class="input-group-addon">px</div>
                    </div>
                    <control-messages [control]="layerUpdateForm.controls.height"></control-messages>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                    <label for="width">Yukarı Mesafe</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="top" formControlName="top" placeholder="0" autocomplete="off">
                        <div class="input-group-addon">px</div>
                    </div>
                    <control-messages [control]="layerUpdateForm.controls.top"></control-messages>
                </div>
                <div class="col-md-6 form-group">
                    <label for="width">Sol Mesafe</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="left" formControlName="left" placeholder="0" autocomplete="off">
                        <div class="input-group-addon">px</div>
                    </div>
                    <control-messages [control]="layerUpdateForm.controls.left"></control-messages>
                </div>
            </div>
        </form>
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-default" data-dismiss="modal" [disabled]="isModalProccessing" (click)="updateLayerModal.dismiss()">İptal</button>
        <button type="button" class="btn btn-success" [disabled]="isModalProccessing" (click)="updateLayer()">Kaydet</button>
    </modal-footer>
</modal>

<modal #deleteLayerModal [backdrop]="modalDisableClose" (onClose)="onClose()" (onDismiss)="onClose()">
    <modal-header>
        <h4 class="modal-title"><span *ngIf="editingLayer != null">&laquo; {{editingLayer.name}} &raquo;</span>  Sil</h4>
    </modal-header>
    <modal-body>
        Bu işlemi yapmak istediğinizden emin misiniz?
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="deleteLayerModal.dismiss()">İptal</button>
        <button type="button" class="btn btn-danger" (click)="deleteLayer()">Devam Et</button>
    </modal-footer>
</modal>

<modal #resolutionDetailModal [backdrop]="modalDisableClose" (onClose)="onClose()" (onDismiss)="onClose()">
    <modal-header>
        <h4 class="modal-title">Ekran Çözünürlüğü</h4>
    </modal-header>
    <modal-body>
        Ekran çözünürlüğü hakkında görselli açıklama.
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="resolutionDetailModal.dismiss()">Tamam</button>
    </modal-footer>
</modal>

<modal #screenDetailModal [backdrop]="modalDisableClose" (onClose)="onClose()" (onDismiss)="onClose()">
    <modal-header>
        <h4 class="modal-title">Ekran Sayısı</h4>
    </modal-header>
    <modal-body>
        Ekran sayısı hakkında görselli açıklama.
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="screenDetailModal.dismiss()">Tamam</button>
    </modal-footer>
</modal>
